@model Pasteleria.Models.Objetos.UsuarioObj

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <title>Recuperar Contraseña</title>
    <link rel="icon" type="image/x-icon" href="~/assets/img/favicon.ico" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="https://fonts.googleapis.com/css?family=Quicksand:400,500,600,700&display=swap" rel="stylesheet">
    <link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/plugins.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/structure.css" rel="stylesheet" type="text/css" class="structure" />
    <link href="~/assets/css/authentication/form-1.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/forms/theme-checkbox-radio.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/forms/switches.css">
</head>
<body class="form">


    <div class="form-container">
        <div class="form-form">
            <div class="form-form-wrap">
                <div class="form-container">
                    <div class="form-content">

                        <h1 class="">Cambio de contraseña</h1>
                        <p class="signup-link">Escriba exactamente la misma contraseña en los dos campos inferiores</p>
                        @using (Html.BeginForm("CambiaContrasena", "Correo", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken();
                            <div class="text-left">
                                <div class="form">

                                    <div id="email-field" class="field-wrapper input">

                                        @Html.TextBoxFor(m => m.password, new
                                   {
                                       @class = "form-control",
                                       @placeholder = "Contraseña",
                                       @type = "text",
                                       id = "contrasena1",
                                       @required = "required",
                                       @onchange = "VerificaContrasena()"
                                   })
                                    </div>

                                    <div id="email-field" class="field-wrapper input">

                                        @Html.TextBoxFor(m => m.password, new
                                   {
                                       @class = "form-control",
                                       @placeholder = "Verifique contraseña",
                                       @type = "text",
                                       id = "contrasena2",
                                       @required = "required",
                                       @onchange = "VerificaContrasena()"
                                   })
                                    </div>

                                    @Html.TextBoxFor(m => m.id, new
                                    {
                                        @class = "form-control",
                                        @placeholder = "Codigo",
                                        @type = "text"
                                        })

                                    <div class="d-sm-flex justify-content-between">
                                        <div class="field-wrapper">
                                            <button type="submit" class="btn btn-primary" value="" id="btn-enviar">Enviar</button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="form-image">
            <div class="l-image">
            </div>
        </div>
    </div>

    <!-- BEGIN GLOBAL MANDATORY SCRIPTS -->
    <script src="~/assets/js/libs/jquery-3.1.1.min.js"></script>
    <script src="~/bootstrap/js/popper.min.js"></script>
    <script src="~/bootstrap/js/bootstrap.min.js"></script>

    <!-- END GLOBAL MANDATORY SCRIPTS -->
    <script src="~/assets/js/authentication/form-1.js"></script>



    <script>

        function VerificaContrasena() {
            let contrasena1 = document.getElementById("contrasena1").value;
            let contrasena2 = document.getElementById("contrasena2").value;

            if (contrasena1.trim() == contrasena2.trim()) {
                document.getElementById("btn-enviar").disabled = false;

            } else {
                document.getElementById("btn-enviar").disabled = true;
                alert("Contraseña no coincide");
            }
        }
    </script>


</body>
</html>